body{
	
}

#imagen{
	
	position:relative;
	height:25px;
	width:25px;
	position:relative;
}

.fondo{
	height: 500px;
	width: 800px;
	position:absolute;
	
}

#stats{
	top:475px;
	width:800px;
	height: 100px;
	background-color:blue;
	position:relative;
}