body{
	background-color:#4F8A99;
}

#heroes{
	height:400px;
	width:1024px;
	padding:0px;
	background:blue;

}

.h{
	height:200px;
	width:200px;
	float:left;
	padding-right:130px;

}
.tabla{
	padding-right:250px;
	float:left;
	color:white;
	font-size:10px;
}

form{
position:relative;
float:right;
color:black;
}

